@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro&display=swap');

$font1: 'Montserrat', sans-serif;
$font2: 'Source Sans Pro', sans-serif;
$primary-color: rgb(33, 90, 112);
$secondary-color: #427747;
$font-color: rgb(0, 0, 0);


body, html {
  height: 100%;
  padding-top: 30px;
}

a.btn.btn-primary{
  background-color: $primary-color;
  border: black;

}

.navbar-brand{
  color: $primary-color !important;
  font-family: $font1;
}

div.card,div.bg-info,div.card-body {
  background-color: $secondary-color !important;
  font-family: $font2;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

// .card-img-top {
//   width: 50%;
//   height: 50%;
// }

div#sliderDiv {
  margin: 10px;
}

svg {
  background-color: $secondary-color;
}

#content{
  margin: 20px;
}

#navimage{
	margin-right: 20px;
}

#yearSlider{
  width: 500px;
}

div.tooltip{
  background-color: $primary-color !important;
}

.circle {
  stroke-width: 2px;          
  fill: $primary-color;
  fill-opacity: .75; 
  stroke: white;
}

.circle:hover {
  stroke: black;
  fill: $primary-color;
  fill-opacity: 1.0;
}