<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Inspiration</title>
  </head>
  <body class="bg">

    {% include 'navbar.html' %}

  	<div class="row">

	  	<div class="card bg-info mb-3, col-8" id="card1">
		  <img src="{{ url_for('static', filename='citak.png')}}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Citak Rugs</h5>
		    <p class="card-text">The above website is primarily white, but the auxiliary colours are understated. There isn't any jarring bright colours, just teals, maroons and shades of brown / grey. It looks professional and mature. I chose to use deep greens and teals as a result of this inspiration.</p>
		    <a href="https://www.citakrugs.ca/collections/" class="btn btn-primary" target="_blank">Website</a>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="card bg-info mb-3, col-8" id="card2">
		  <img src="{{ url_for('static', filename='tripwire.png')}}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Tripwire Magazine</h5>
		    <p class="card-text">I was looking for websites that have floating navigation bars, and the website I found detailing them just so happened to have one. I like the idea of a sticky navigation bar so that regardless how deep you get in to a website you can still get home and to major pages. While single page scrolling websites are popular right now I don't think it will work well with the website we are required to create for Assignment 1 as there is minimal scrolling. As it stands on my Inspiration page scrolls and is the only page you will notice that the navigation bar is sticking.</p>
		    <a href="https://www.tripwiremagazine.com/websites-with-floating-and-fixed-position-navigation-designs/" class="btn btn-primary" target="_blank">Website</a>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="card bg-info mb-3, col-8" id="card3">
		  <img src="{{ url_for('static', filename='nitrografix.png')}}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Nitrografix</h5>
		    <p class="card-text">This website uses a font called two Google fonts, Montserrat and Sans Source Pro. After looking at fonts that various professional websites use I was surprised just how much they influence the feel of the website. I enjoyed the modern feel of the Nitrografix website and decided to use both of the above fonts in my website. </p>
		    <a href="https://www.nitrografix.net/" class="btn btn-primary" target="_blank">Website</a>
		  </div>
		</div>	
	</div>

	<script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

  </body>
</html>
