<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <img id="navimage" src="{{ url_for('static', filename='alien.png')}}" width="30" height="30" alt="alien.png">
  <a class="navbar-brand">{{ title }}</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
      <a class="nav-item nav-link" href="{{ url_for('inspiration') }}">Inspiration</a>
      <a class="nat-item nav-link" href="{{ url_for('loadData') }}">Load Data</a>
    </div>
  </div>
</nav>
